@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Leckerli+One&family=Pacifico&family=Poppins:wght@400;700&display=swap');

:root {
  --light: #FFB100;
  --dark: #131313;

  --lt: #F4EDEA;
  --dt: #131313;
  
  --left-color: var(--dark);
  --right-color: var(--light);
}

body {  
  background-color: white;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}